footer {
position: absolute;
bottom:0;
width: 100%;
background-color: black;
color: white;
text-align: left;
height: 20%;
}

h1 {
text-align: left;
Color: white;
Font-family: Bookman;
}

body {
background-image: url("")
height: 100%;
width: 100%;
color: white;
background-color: #27c1e8;
} 
.button {
position: relative;
height: 30%;
color: white;
text-align: center;
font-weight: bold;
background-color: transparent;
border-color: black;
border-style: solid;
font-family: Bookman;
padding-top: 1%;
padding-bottom: 1%;
padding-left: 3%;
padding-right: 3%;
font-size: 23px;
float: left;
}

