footer {
position: absolute;
bottom: 0;
width: 100%;
background-color: black;
color: white;
text-align: left;
height: 20%;
}

h1 {
text-align: left;
Color: white;
Font-family: Bookman;
font-size: 35px;
text-decoration: underline;
}

body {
height: 100%;
width: 100%;
color: white;

} 

ul {
position: fixed;
margin: 0;
width: 100%;
list-style-type: none;
height: 14%;
overflow: hidden;
background-color: white;
top: 0;
float: left;
}
li { 
width: 10%;
height: 10%;
text-align: center;
float: left;
display: block;
color: white;
font-family: Bookman;
font-size: 25px;
padding-top: 15px;
padding-bottom: 50px;
display: inline;
margin-left: 20px;
}

li a {
display: block;
color: black;
text-align: center;
padding: 10px;
}
li a: hover {
background-color: white;
}
a:hover {
color: green;
}
li:last-child {
padding-right: 2.5%
}
.nav-down {
bottom: -170px;
}
.sidenav {
position: sticky;
height: 87.5%;
width: 20%;
overflow-x: hidden;
overflow-y: hidden;
left: 0;
background-color: #FFFF00;
margin-top: -16.5%;
}
.sidenav a {
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
padding-bottom: 10px;
color: black;
display: block;
border-style: solid;
font-size: 25px;
}
sidnav a:hover {
color: green;
}
.main {
margin-left: 20%;
margin-top: 20%;
padding: 0px 10px;
position: relative;
overflow: auto;
}
.active {
background-color: white;
}
#2 {
position:relative;
}
