footer {
position: relative;
bottom: 0;
left: 0;
width: 101%;
background-color: #79919D;
color: white;
text-align: left;
height: 20%;
margin-left: -1%;
padding-left: 3%;
}

h1 {
text-align: left;
Color: white;
Font-family: Bookman;
font-size: 35px;
}

body {
height: 100%;
width: 100%;
color: white;
} 
ul {
position: fixed;
margin: 0;
width: 100%;
list-style-type: none;
height: 14%;
overflow: hidden;
top: 0;
float: left;
margin-left: -1%;
}
li { 
width: 10%;
height: 10%;
text-align: center;
float: left;
display: block;
color: white;
font-family: Bookman;
font-size: 25px;
padding-top: 15px;
padding-bottom: 50px;
margin-left: 20px;
}

li a {
display: block;
color: black;
text-align: center;
padding: 10px;
}
li a: hover {
background-color: white;
}
a:hover {
color: white;
}
li:last-child {
padding-right: 2.5%
}
.nav-down {
bottom: -170px;
}
.sidenav {
position: sticky;
height: 100%;
width: 20%;
overflow-x: hidden;
overflow-y: hidden;
left: 0;
background-color: transparent;
margin-top: -15%;
margin-left: 1%;
padding-bottom: 20%;
}
.sidenav a {
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
padding-bottom: 10px;
color: black;
display: block;
border-style: solid;
font-size: 25px;
}
sidnav a:hover {
color: white;
}
.main {
margin-left: 20%;
margin-top: 20%;
padding: 0px 10px;
position: relative;
overflow: auto;
}
.active {
background-color: transparent;
}
.topleft {
position: absolute;
top: 25%;
left: 3%;
font-size: 40px;
}
#2 {
width: 85%;
overflow-y: auto;
}








