<!doctype html>
<html>
<head>
<link rel="stylesheet" 
type = "text/css" 
href = "/static/css.css/" />
<meta name="viewport" content="width=device-width, initial-scale=0.75">
<style>
.sidenav a:nth-child(2) {
background-color: white;
}
img {
    max-width: 100%;
}
ul {
background-color: #7c9dad;
}
body {
background-image: url("/static/img_0630.jpg/");
background-size: cover;
background-repeat: no-repeat;
position: static;


}
</style>
</head>
<body>
<ul>
<img src= "/static/unnamed.png/" style=float:left width= 5%>
<li><a href="index - Copy.html" class= "button" width: 9%>Home</a></li>
<li><a href="video.html" class= "button" width: 9%>Video</a></li>
<li><a href="text.html" class= "button" width: 9%>Text</a></li>
<li><a href="Cloud.html" class= "button" width: 9%>Cloud</a></li>
<li style="float:right"><a class="button" href= "about.html" width: 9%>About</a></li>
</ul>
<main>
<h1 style= "margin-left:25%; margin-top:8%; font-size: 49px; text-decoration: underline;">Our Mission</h1>
<p style= "margin-left:25%; margin-top: 1%; font-size: 25px;">As technology continues to evolve, there shall require an 
increasing number of ways to instruct the people about the rapidly changing technology. 
 Here at Zephy Computing, We strive to teach the newest techonology availible now: Cloud Computing.
 By concentrating our efforts on a single area and appealing to every type of learning, be it by reading, watching, or doing, 
we hope to be able to provide a simple, easy, and informative learning experience.</p>
</main>
<div class="sidenav">
<a class= "active" href="about.html">Our Mission</a>
<a href="Sources.html">Sources</a>

</div>
<div><footer class="nav-down" position:"fixed"; margin-left:"25%";>
<h1>Contact Us</h1>
<p>Raymond.moy@lps-students.org</p>
</footer></div>


</body>
</html>
