<!doctype html>
<html>
<head>
<link rel="stylesheet" 
type = "text/css" 
href = "/static/css.css/" />
<meta name="viewport" content="width=device-width, initial-scale=0.75">
<title>Sources</title>
<style>
.sidenav a:nth-child(1) {
background-color: white;
}
img {
    max-width: 100%;
}
ul {
background-color: #7c9dad;
z-index: 1000;
}
body {
background-image: url("/static/img_0630.jpg/");
background-size: cover;
background-repeat: no-repeat
position: static;
}
</style>
</head>
<body>
<div>
<ul>
<img src= "/static/unnamed.png/" style=float:left width= 5%>
<li><a href="index - Copy.html" class= "button" width: 9%>Home</a></li>
<li><a href="video.html" class= "button" width: 9%>Video</a></li>
<li><a href="text.html" class= "button" width: 9%>Text</a></li>
<li><a href="Cloud.html" class= "button" width: 9%>Cloud</a></li>
<li style="float:right"><a class="button" href= "about.html" width: 9%>About</a></li>
</ul>
</div>
<main>
<h1 style="margin-top: 8%; margin-bottom: 1%; margin-left: 27%; font-size: 50px; text-decoration: underline;">Sources</h1>
<div id="2">
<ul style="list-style-type: disc; list-style-position: inside; color: white; margin-top: 2%; margin-left: 20%; z-index: 1;
background-color: transparent; float: none; overflow-y: scroll; overflow-x: visible; height: 1%; position: relative; width: 900px; height: 500px;">
<li style="float: none; display: list-item; width: auto; text-align: left; margin-top: -1%;">https://stackoverflow.com/questions/18423004/html-css-creating-a-banner-header</li>
<li style="float: none; display: list-item; width: auto; text-align: left; margin-top: -3.5%;">https://www.w3schools.com/tags/tag_footer.asp</li>
<li style="float: none; display: list-item; width: auto; text-align: left; margin-top: -3.5%;">https://www.w3schools.com/css/css_navbar.asp</li>
<li style="float: none; display: list-item; width: auto; text-align: left; margin-top: -3.5%;">https://www.w3schools.com/css/css_border.asp</li>
<li style="float: none; display: list-item; width: auto; text-align: left; margin-top: -3.5%;">https://www.w3schools.com/cssref/pr_pos_top.asp</li>
<li style="float: none; display: list-item; width: auto; text-align: left; margin-top: -3.5%;">https://www.ghostforbeginners.com/place-images-side-by-side/</li>
<li style="float: none; display: list-item; width: auto; text-align: left; margin-top: -3.5%;">https://www.w3schools.com/css/css_text.asp</li>
<li style="float: none; display: list-item; width: auto; text-align: left; margin-top: -3.5%;">https://stackoverflow.com/questions/25034781/adjust-image-size-according-to-screen-resolution</li>
<li style="float: none; display: list-item; width: auto; text-align: left; margin-top: -3.5%;">https://stackoverflow.com/questions/23510483/html-css-automatically-adjust-size-of-element-for-different-screen-sizes</li>
<li style="float: none; display: list-item; width: auto; text-align: left; margin-top: -3.5%;">https://www.w3schools.com/css/css3_buttons.asp</li>
<li style="float: none; display: list-item; width: auto; text-align: left; margin-top: -3.5%;">https://stackoverflow.com/questions/2906582/how-to-create-an-html-button-that-acts-like-a-link</li>
<li style="float: none; display: list-item; width: auto; text-align: left; margin-top: -3.5%;">https://www.w3schools.com/cssref/css3_pr_background.asp</li>
<li style="float: none; display: list-item; width: auto; text-align: left; margin-top: -3.5%;">https://www.w3schools.com/css/css_link.asp</li>
<li style="float: none; display: list-item; width: auto; text-align: left; margin-top: -3.5%;">https://www.w3schools.com/css/css_margin.asp</li>
<li style="float: none; display: list-item; width: auto; text-align: left; margin-top: -3.5%;">https://stackoverflow.com/questions/11903773/add-space-between-li-elements</li>
<li style="float: none; display: list-item; width: auto; text-align: left; margin-top: -3.5%;">https://www.w3schools.com/cssref/pr_padding-top.asp</li>
<li style="float: none; display: list-item; width: auto; text-align: left; margin-top: -3.5%;">https://kyleschaeffer.com/development/css-font-size-em-vs-px-vs-pt-vs/</li>
<li style="float: none; display: list-item; width: auto; text-align: left; margin-top: -3.5%;">https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp</li>
<li style="float: none; display: list-item; width: auto; text-align: left; margin-top: -3.5%;">https://www.w3schools.com/cssref/pr_pos_overflow.asp</li>
<li style="float: none; display: list-item; width: auto; text-align: left; margin-top: -3.5%;">https://www.w3schools.com/cssref/pr_class_position.asp</li>
<li style="float: none; display: list-item; width: auto; text-align: left; margin-top: -3.5%;">https://codepen.io/gstricklind/pen/yvtjh</li>
<li style="float: none; display: list-item; width: auto; text-align: left; margin-top: -3.5%;">https://www.w3schools.com/tags/tag_main.asp</li>
<li style="float: none; display: list-item; width: auto; text-align: left; margin-top: -3.5%;">https://www.w3schools.com/css/css_rwd_viewport.asp</li>
<li style="float: none; display: list-item; width: auto; text-align: left; margin-top: -3.5%;">https://html-color-codes.info/colors-from-image/</li>
<li style="float: none; display: list-item; width: auto; text-align: left; margin-top: -3.5%;">https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp</li>
<li style="float: none; display: list-item; width: auto; text-align: left; margin-top: -3.5%;">https://www.w3schools.com/tags/tag_main.asp</li>
<li style="float: none; display: list-item; width: auto; text-align: left; margin-top: -3.5%;">https://www.w3schools.com/cssref/pr_background-position.asp</li>
<li style="float: none; display: list-item; width: auto; text-align: left; margin-top: -3.5%;">https://www.w3schools.com/cssref/css_selectors.asp</li>
<li style="float: none; display: list-item; width: auto; text-align: left; margin-top: -3.5%;">https://www.w3schools.com/css/css3_images.asp</li>
<li style="float: none; display: list-item; width: auto; text-align: left; margin-top: -3.5%;">https://www.w3schools.com/css/css_list.asp</li>
<li style="float: none; display: list-item; width: auto; text-align: left; margin-top: -3.5%;">https://stackoverflow.com/questions/3201500/keep-div-at-the-bottom-of-another-div-css</li>
<li style="float: none; display: list-item; width: auto; text-align: left; margin-top: -3.5%;">https://stackoverflow.com/questions/12447611/css-list-style-type-not-working</li>
<li style="float: none; display: list-item; width: auto; text-align: left; margin-top: -3.5%;">https://philipwalton.com/articles/what-no-one-told-you-about-z-index/</li>
<li style="float: none; display: list-item; width: auto; text-align: left; margin-top: -3.5%;">https://stackoverflow.com/questions/4102832/ul-or-div-vertical-scrollbar</li>
</div>
</ul>
</main>
<div class="sidenav" style="margin-top:-41%;">
<a href="about.html">Our Mission</a>
<a class= "active" href="Sources.html">Sources</a>
</div>
<div>
<footer class="nav-down" position:"fixed"; margin-left:"25%";>
<h1>Contact Us</h1>
<p>Raymond.moy@lps-students.org</p>
</footer>
</div>


</body>
</html>
